<ion-header>
  <ion-toolbar>
    <ion-title>FUTBOL AMERICANO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true" class="ion-padding">
    <h1><b><center>HISTORIA</center></b></h1>
    <P>El Futbol Americano es un deporte de conjunto conocido por mezclar complejas estrategias y un juego 
      fisico muy intenso. Nacio hace mas de 100 años en los Estados Unidos. Es uno de los deportes de contacto 
      mas competitivos de Estados Unidos, Canada y en menor medida Mexico y Japon, y que se practica actualmente 
      mas de 60 paises. Este deprte requiere una gran disciplina, entrenamiento fisico y preparacion mental. 
      La mayor manisfestacion competitiva y mediatica de este deporte se da en la National Football League 
      (NFL), la liga de futbol americano de Estados Unidos.
    </P>
    <img src="https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/r3h0GC43QO67Zwe8k-Gm84UszfY=/1200x630/smart/filters:no_upscale()/arc-anglerfish-arc2-prod-dmn.s3.amazonaws.com/public/LM7Z37VQENAQSWU2HFDCAWKJFY.jpg">
    <h1><b><center>OBJETIVO DEL JUEGO</center></b></h1>
    <P><b>OFENSIVA</b></P>
    <p>El objetivo del equipo atacante es avanzar la mayor cantidad de yardas para llegar a la zona de 
      anotación o de field goal y conseguir puntos. Hay dos maneras de avanzar: mediante el pase (lanzando 
      el balón a otro jugador) y mediante la carrera (correr con el balón).</p>
      <P><b>DEFENSIVA</b></P>
      <P>El objetivo del equipo defensivo consiste en impedir que el equipo rival avance hacia la zona de 
        anotación o de field goal, derribando al suelo al jugador atacante que tiene el balón, o impidiendo 
        o desviando el pase al que va a recibirlo. También pueden bloquear el avance del jugador impidiéndole 
        avanzar más u obligándole a retroceder, forzarlo a que suelte el balón (fumble) e incluso recuperar 
        el balón (turnover) mediante una intercepción o tras un fumble y avanzar con él hacia la zona de 
        anotación contraria.</P>
    <h1><b><center>MEJORES REFERENTES HISTORICOS</center></b></h1>
    <ul>

      <li> Tom Brady (desde 2000)</li>
      <img src="https://www.info7.mx/images/tnfocus/0/0/690/460/2022/02/22/tom-brady-san-francisco.png">
      <li> Peyton Manning (1998 - 2016) </li>
      <img src="https://cdn.forbes.com.mx/2016/03/reu_peyton_manning.jpg">
      <li>  Joe Montana (1979 – 1994)</li>
      <img src="https://cdn2.excelsior.com.mx/media/pictures/2020/04/18/2344710.jpg"> 
      </ul>
</ion-content>
