<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FUTBOL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<h1>HISTORIA</h1>
<P>La historia del fútbol empieza a escribirse a partir de 1863. Aun así, se tiene constancia 
  de la existencia del fútbol ya en la Edad Media en las islas británicas. El origen del fútbol moderno 
  se inicia en 1863, con la fundación de The Football Association.

  El fútbol en su origen era un deporte muy violento. Aunque en otros países se practicaba de forma 
  menos violenta y mejor organizada, como en Italia. Allí se originó el calcio florentino. Este tuvo 
  repercusión en algunas escuelas británicas. Fue entonces cuando en 1848 se reunieron los representantes 
  de diferentes colegios ingleses. Se reunieron en la Universidad de Cambridge y, 
  allí, crearon el código Cambridge. Este sería la base para construir las reglas 
  del fútbol moderno. En 1863 se oficializaron por primera vez las reglas del fútbol.

  Entre los hitos más destacados de la historia del fútbol están sin duda la primera reunión de la 
  International Football Association Board y la fundación de la FIFA, que han aportado a la expansión 
  global de este deporte. Además, en 1930 inició la Copa Mundial de Fútbol, que se convertiría en el 
  evento deportivo con más audiencia del mundo.

  Desde el origen del fútbol, el deporte rey ha tenido un crecimiento constante. Actualmente es 
  la disciplina deportiva más popular del mundo.</P>
  <img src="http://c.files.bbci.co.uk/046C/production/_118123110_ad83f8c5-2a46-4faa-a42d-fef5cd060d23.jpg">
  <h1>OBJETIVO DEL JUEGO</h1>
  <p>El objetivo del juego de futbol es anotar la mayor cantidad de Goles que sea posible, haciendo pasar 
    el Balón por la arquería del equipo contrario. El fútbol corresponde a un deporte que se juega en equipos en el cual dos equipos se enfrentan cada uno 
    conformado por 11 jugadores y árbitros qué vigila que las normas sean cumplidas adecuadamente, el fútbol 
    es considerado el deporte más popular del mundo, este juego se gana por el equipo que haya logrado 
    anotar la mayor cantidad de goles, se considera una anotación de Gol cuando el balón Ha logrado entrar 
    a la arquería del equipo contrario.</p>
  <h1>MEJORES REFERENTES HISTORICOS</h1>
  <ul>

    <li> Cristiano Ronaldo (2002-Actualidad) </li>
    <img src="https://as00.epimg.net/futbol/imagenes/2018/05/24/champions/1527180943_971132_1527370360_noticia_normal.jpg">
    <li> Lionel Messi (2004-Actualidad) </li>
    <img src="https://phantom-marca.unidadeditorial.es/6f7f7633cc9100a7ad98ecadbd6dcddd/resize/1320/f/jpg/assets/multimedia/imagenes/2021/11/28/16381268388327.jpg">
    <li> Pele (1956-1977) </li>
    <img src="https://fotografias.lasexta.com/clipping/cmsimages02/2020/12/19/332A9CF6-3DA0-4BA0-A929-88126DA53CB5/98.jpg?crop=1200,675,x0,y106&width=1900&height=1069&optimize=low&format=webply">
    <li> Diego Armando Maradona (1976-1997) </li>
    <img src="https://cnnespanol.cnn.com/wp-content/uploads/2021/06/multimedia.normal.bdce30ddda047ebe.646965676f5f6e6f726d616c2e6a7067.jpg?quality=100&strip=info&w=460&h=260&crop=1"> 
    </ul>
</ion-content>
