<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEISBOL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<h1><b><center>HISTORIA</center></b></h1>
<P>Está claro que el béisbol moderno se desarrolló en Estados Unidos, aunque el origen exacto del juego es 
  difícil de determinar. La mayoría de los estudios creen que el béisbol evolucionó desde una variedad de 
  juegos similares. Una leyenda popular cuenta que Abner Doubleday, quien llegó a ser oficial del Ejército 
  de la Unión durante la Guerra Civil estadounidense (1861-1865), inventó el béisbol en Cooperstown 
   (Nueva York) en 1839. Aunque no existe en la actualidad ningún apoyo para este mito; 
   el Salón de la Fama y Museo Nacional de Béisbol se encuentran ubicados en Cooperstown.</P>
   <img src="https://png.pngtree.com/background/20211215/original/pngtree-baseball-lawn-baseball-bat-green-background-picture-image_1468912.jpg">
  <h1><b><center>OBJETIVO DEL JUEGO</center></b></h1>
  <p>El objetivo principal del béisbol es golpear una pequeña pelota redonda con un bate para 
    desplazarla a través del campo y correr por el mismo con el objetivo de alcanzar la mayor 
    cantidad posibles de bases. Cuando un jugador completa una vuelta entera al campo y regresa a la 
    base desde donde bateó, obtiene una carrera. Cuantas más carreras, más posibilidades de ganar 
    los partidos.</p>
  <h1><b><center>MEJORES REFERENTES HISTORICOS</center></b></h1>
  <ul>

    <li> Babe Ruth (1914 - 1935)</li>
    <img src="https://as01.epimg.net/us/imagenes/2019/11/29/mlb/1574989448_108539_1574989595_noticia_normal_recorte1.jpg">
    <li> Barry Bonds (1986 - 2007) </li>
    <img src="https://s3.amazonaws.com/gex.lifeandstyle/uploads/image/file/2760/1.jpg">
    <li> Ted Williams (1939 - 1960) </li>
    <img src="https://s3.amazonaws.com/gex.lifeandstyle/uploads/image/file/2761/2.jpg">
    </ul>
</ion-content>
