h1{
    color:dodgerblue;
    font-size: 190%;
    font-style: oblique;
    font-family: 'Times New Roman';
}
p{
    color:aliceblue;
    font-size: 2.2ch;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
ul{
    font-size: 120%;
    font-family: Verdana;
}
