<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BALONCESTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1><b><center>HISTORIA</center></b></h1>
  <P>El basquetbol, también conocido como baloncesto, básquet o basketball en inglés, es un deporte 
    de equipo creado en el año 1891 por el profesor y capellán James Naismith, en la ciudad de Springfield 
    (Massachussetts) en los Estados Unidos.</P>
    <p>James Naismith, era profesor de educación física en una escuela para jóvenes cristianos llamada 
      YMCA (Young Men’s Christian Association), y se había propuesto crear un deporte que pudiese ser 
      practicado bajo techo para, así, mantener activos a sus alumnos durante los duros inviernos de la 
      ciudad de Springfield, que impedían la práctica de actividades físicas al aire libre.</p>
      <img src="https://www.biografiasyvidas.com/tema/fotos/baloncesto_1.jpg">
  <h1><b><center>OBJETIVO DEL JUEGO</center></b></h1>
  <P>El objetivo del equipo es anotar puntos introduciendo un balón por la canasta, un aro a 3,05 metros 
    sobre la superficie de la pista de juego del que cuelga una red. La puntuación por cada canasta o cesta 
    es de dos o tres puntos, dependiendo de la posición desde la que se efectúa el tiro a canasta, o de uno, 
    si se trata de un tiro libre por una falta de un jugador contrario. El equipo ganador es el que obtiene 
    el mayor número de puntos.</P>
    <P>El contacto con la pelota se realiza con las manos. Los jugadores, también llamados baloncestistas, 
      no pueden trasladarse sujetando la pelota, sino botándola contra el suelo. El equipo en posesión del 
      balón o atacante, intenta anotar puntos mediante tiros, entradas a canasta o mates, mientras que el 
      equipo defensor busca impedirlo robando la pelota o efectuando tapones. Cuando un tiro hacia la canasta 
      fracasa, los jugadores de ambos equipos intentan atrapar el rebote.</P>
  <h1><b><center>MEJORES REFERENTES HISTORICOS</center></b></h1>
  <ul>

    <li> Michael Jordan</li>
    <img src="https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0509%2Fr696991_2559x3841cc.jpg&w=570&format=jpg">
    <li> Lebron James </li>
    <img src="https://a3.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0509%2Fr696990_2136x2541cc.jpg&w=570&format=jpg">
    <li> Kareem Abdul-Jabbar </li>
    <img src="https://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0509%2Fr696988_1690x2967cc.jpg&w=570&format=jpg"> 
    </ul>
</ion-content>
